
.container{
    margin: 10px 0 0 50px;
    background-color: rgb(243, 240, 240);
    border: 1px solid rgb(197, 191, 191);
}
.header{
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: auto;
    margin-top: 20px;
    /* text-align: center; */
    /* align-content: center; */
}

.item-selection{
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
   margin-top: 10px;
}
.button{
    position: relative;
    top: 7rem;
    color: red;
}
select{
    color: red;
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-top:10vh;
}